.open_text {
  padding-bottom: 2px;
}
.open_text p {margin-bottom: 0;}

.open_text:hover
 {
  cursor: pointer;
  text-decoration: underline;
}
.close_text
{
  margin-left: 24px; 
}
.posMark, .negMark {
  height: 9px;
  width: 9px;
  float: left;
  margin: 7px 15px 0 0;
}
.posMark {
  background: url("../img/PosMarker.png") no-repeat scroll 0 0 #ffffff;
}
.negMark {
  background: url("../img/NegMarker.png") no-repeat scroll 0 0 #ffffff;
}
.posMark:hover {
  background: url("../img/PosMarker.png") no-repeat scroll 0px -9px #ffffff;
}
.negMark:hover {
  background: url("../img/NegMarker.png") no-repeat scroll 0px -9px #ffffff;
}
.hide {
  display: none;
}
