<nav id="breadcrumbs" class="span-24">
    <a href="/">BYU-Idaho Home</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities">Activities</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities/resources">Resources</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities/resources/exercise-facilities-and-play-fields">Exercise Facilities and Play Fields</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities/resources/exercise-facilities-and-play-fields/hart-building">Hart Building</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities/resources/exercise-facilities-and-play-fields/hart-building/swim-suit-policy">Swim Suit Policy</a>
</nav>