<nav id="breadcrumbs" class="span-24">
    <a href="/">BYU-Idaho Home &gt; </a>
    <a href="activities">Activities &gt; </a>
    <a href="activities/resources">Resources &gt; </a>
    <a href="activities/resources/exercise-facilities-and-play-fields">Exercise Facilities and Play Fields &gt; </a>
    <a href="activities/resources/exercise-facilities-and-play-fields/hart-building">Hart Building &gt; </a>
    <a href="activities/resources/exercise-facilities-and-play-fields/hart-building/swim-suit-policy">Swim Suit Policy</a>
</nav>