	</section><!-- end main_content -->
</div><!-- end global_outside -->


<footer id="mega_footer" class="global_outside">
	<div class="global_outside footer_graphic">
		<div id="footer_graphic" class="container">
			<div></div>
		</div>
	</div><!-- end global_outside footer_graphic -->

	<div class="global_outside footer_brand">
		<div id="footer_brand" class="container">
			<div id="left_container" class="span-16">
				<div>
					<a id="lds_church_link" href="http://www.lds.org/?cid=fli:182" title="The Church of Jesus Christ of Latter-Day Saints">The Church of Jesus Christ of Latter-Day Saints</a>
					<a id="byu_link" href="http://www.byu.edu/?cid=fli:183" title="Brigham Young University - Provo">Brigham Young University - Provo</a>
					<a id="byuh_link" href="http://www.byuh.edu/?cid=fli:184" title="Brigham Young University - Hawaii">Brigham Young University - Hawaii</a>
					<a id="ldsbc_link" href="http://www.ldsbc.edu/?cid=fli:185" title="LDS Business College">LDS Business College</a>
				</div>
			</div>
			<div id="right_container" class="span-8 last">
				<div id="social_icons">
					<a id="byui_facebook_link" href="http://www.byui.edu/social-media/facebook/?cid=fli:186" title="BYU-I Facebook">BYU-I Facebook</a>
					<a id="byui_youtube_link" href="http://www.byui.edu/social-media/youtube/?cid=fli:187" title="BYU-I YouTube">BYU-I YouTube</a>
					<a id="byui_linkedIn_link" href="http://www.byui.edu/social-media/linkedin/?cid=fli:188" title="BYU-I LinkedIn">BYU-I LinkedIn</a>
					<a id="byui_social_media_link" href="http://www.byui.edu/social-media/?cid=fli:189" title="BYU-I Social Media Sites">More</a>
				</div>
				<p><a href="http://www.byui.edu/copyright/policy/terms-of-use/?cid=fli:190">© 2012</a> Brigham Young University–Idaho</p><address>525 South Center St., Rexburg, ID 83460, <a href="tel:12084961411">(208) 496-1411</a></address>
				<nav id="access_links">
					<ul>
						<li class="first"><a href="http://www.byui.edu/disabilities/?cid=fli:191">Disability Services</a></li>
						<li><a href="http://www.byui.edu/legal" alt="A variety of legal notices collected into one place, copyright, discrimination, etc.">Legal Notices</a></li>
						<li class="last"><a href="http://www.byui.edu/feedback/?cid=fli:192" title="General feedback">Feedback</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div><!-- end global_outside footer_brand --> 

	<!--[if IE]>
	<style>
	#slideout2 {
				display: block;
				position: fixed;
				top: 200px;
				width: 485px;
				right: -450px;
	            height: 145px;
				background: #326ba9;
				-webkit-transition-duration: 0.5s;
				-moz-transition-duration: 0.5s;
				-o-transition-duration: 0.5s;
				transition-duration: 0.5s;
				-webkit-border-radius: 5px 0 0 5px;
				-moz-border-radius: 5px 0 0 5px;
				border-radius: 5px 0 0 5px;
				outline 0;
			}
			#slideout2 > img
			{
				float: left;
				margin: 12px 0px;
				outline: 0;
				border: none;
			}
			#slideout {
				display: none;
			}
		</style>

	<![endif]-->
	<div id="slideout" tabindex="100">
		<div class='slideout_img'>
			<img class='slideout_conversation' src="/images/conversation.png" alt="Conversation">
			<hr>
			<img class='slideout_feedback' src="/images/feedback.png" alt="Feedback">
		</div>
		<div id="slideout_inner">
			<h3 id="slide-header">We want to hear from you!</h3><p class="slide-text">BYU-Idaho values suggestions and ideas that can improve the university.<br/> Use our Feedback Form to let us know what you think.</p>
            <div id="feedback-button"><a href="http://www.byui.edu/feedback/"><img src="/images/feedback-button.png" /></a></div>
        </div>
	</div>
	<a id="slideout2" target="_blank" href="http://www.byui.edu/feedback/">
		<div class='slideout_img'>
			<img class='slideout_conversation' src="/images/conversation.png" alt="Conversation">
			<hr>
			<img class='slideout_feedback' src="/images/feedback.png" alt="Feedback">
		</div>
	</a>
</footer><!-- end mega_footer global_outside -->



<!--Temporary Qualtrics survey -->
<!--BEGIN QUALTRICS POPUP-->
<script type="text/javascript">
var q_viewrate=.1;
if (Math.random() < q_viewrate / 100){var q_popup_f = function(){var q_script = document.createElement("script");var q_popup_g = function(){new QualtricsEmbeddedPopup({
	id: "SV_1GPFZmoDSXX5cUc",
	imagePath: "http://qdistribution.qualtrics.com/WRQualtricsShared/Graphics/",
	surveyBase: "https://byui.qualtrics.com/WRQualtricsSurveyEngine/",
	delay:500,
	preventDisplay:30,
	animate:true,
	width:400,
	height:300,
	surveyPopupWidth:900,
	surveyPopupHeight:600,
	startPos:"ML",
	popupText:"Please take a moment to participate in a survey about our new web site design.",
	linkText:"Yes, I will take the Survey!"
});};q_script.onreadystatechange= function () {if (this.readyState == "loaded") q_popup_g();};q_script.onload= q_popup_g;q_script.src="http://qdistribution.qualtrics.com/WRQualtricsShared/JavaScript/Distribution/popup.js";document.getElementsByTagName("head")[0].appendChild(q_script);};if (window.addEventListener){window.addEventListener("load",q_popup_f,false);}else if (window.attachEvent){r=window.attachEvent("onload",q_popup_f);}else {};};
</script>
<noscript>Please take a moment to participate in a <a target="_blank" href="https://byui.qualtrics.com/WRQualtricsSurveyEngine/?SID=SV_1GPFZmoDSXX5cUc">survey</a> about our new web site design.</noscript>
<!--END QUALTRICS POPUP-->

<!-- University web alaytics code for all university pages. -->
	<script type="text/javascript" src="http://web.byui.edu/Omniture/omniture_code.js"></script>
	<img name="s_i_byuibyuiedu" height="1" width="1" border="0" style="position:absolute;top:0px;left:0px;" alt="" src="http://byuidaho.112.2O7.net/b/ss/byuibyuiedu/1/H.8-pdvu-2/s81115526936482?[AQB]&amp;ndh=1&amp;t=27/5/2013%208%3A56%3A14%204%20360&amp;ns=byuidaho&amp;g=http%3A//www.byui.edu/&amp;cc=USD&amp;s=1920x1080&amp;c=24&amp;j=1.3&amp;v=Y&amp;k=Y&amp;bw=1181&amp;bh=946&amp;p=Shockwave%20Flash%3BChrome%20Remote%20Desktop%20Viewer%3BNative%20Client%3BChrome%20PDF%20Viewer%3BWebEx64%20General%20Plugin%20Container%3BAdobeExManDetect%3BFlip4Mac%20Windows%20Media%20Plugin%3BGoogle%20Talk%20Plugin%3BiPhotoPhotocast%3BLogMeIn%20Plugin%201.0.0.730%3BLync%20Meeting%20Join%20Plug-in%3BGoogle%20Talk%20Plugin%20Video%20Accelerator%3BGoogle%20Talk%20Plugin%20Video%20Renderer%3BQuickTime%20Plug-in%207.7.1%3BSharePoint%20Browser%20Plug-in%3BSilverlight%20Plug-In%3B&amp;[AQE]">
<script type="text/javascript" src="http://web.byui.edu/Omniture/s_code.js"></script>

<!-- LivePerson Chat code for syncing operator with user's web page. Should be on pages that use livechat (everywhere). -->
<script language="javascript">
	var lpMTagConfig = {'lpServer' : "server.iad.liveperson.net",'lpNumber' : "1132447",'lpProtocol' : "https"}; function lpAddMonitorTag(src){if(typeof(src)=='undefined'||typeof(src)=='object'){src=lpMTagConfig.lpMTagSrc?lpMTagConfig.lpMTagSrc:'/hcp/html/mTag.js';}if(src.indexOf('http')!=0){src=lpMTagConfig.lpProtocol+"://"+lpMTagConfig.lpServer+src+'?site='+lpMTagConfig.lpNumber;}else{if(src.indexOf('site=')<0){if(src.indexOf('?')<0)src=src+'?';else src=src+'&';src=src+'site='+lpMTagConfig.lpNumber;}};var s=document.createElement('script');s.setAttribute('type','text/javascript');s.setAttribute('charset','iso-8859-1');s.setAttribute('src',src);document.getElementsByTagName('head').item(0).appendChild(s);} if (window.attachEvent) window.attachEvent('onload',lpAddMonitorTag); else window.addEventListener("load",lpAddMonitorTag,false);
</script>
</body>
</html>
