/*AUDIENCE STYLE BEGIN*/
/* mixins and variables to be deleted once audience.less is merged into main.less bootstrap */
/*VARIABLES BEGIN*/
/* Identity Color Values */
/* Basic colors */
/*@byui_med_blue:#007ebd;*/
/* Identity Range 2011*/
/* Monochromatic set */
/* Shade Variations */
/*VARIABLES END*/
/*MIXINS BEGIN*/
/*MIXINS END*/
/*TYPOGRAPHY CSS FOR BODY COPY AREAS*/
/*CONTENT AREA TYPOGRAPHY STYLES*/
/*BODY COPY STYLES*/
/*All body-copy styles must be within a .type class, because they must only inherit in places where the body-copy XSL template is being used*/
/*DEFAULT TEXT VARIABLES*/
/* 14pt default seems a bit large? Adjusts here dynamically for all type styles */
.heading_padding {
  padding-bottom: 8px;
  margin-bottom: 0px;
}
.object_padding {
  padding-bottom: 8px;
  margin-bottom: 0px;
}
/*@text_color:#6d6e71;*/
/* deprecated by global variables in variables.less file, but keeps this file compiling */
/*@byui_med_blue:#007ebd;
@byui_med_gray:#6d6e71;*/
.serif {
  font-family: "Georgia", Times New Roman, Times, serif;
}
.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.type, #tinymce {
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: 11pt;
  color: #939ba1;
  line-height: 1.4em;
}
.type a, #tinymce a {
  color: #056cb6;
  text-decoration: underline;
}
.type a:hover, #tinymce a:hover {
  color: #056cb6;
  cursor: pointer;
}
.type p, #tinymce p {
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: 11pt;
  color: #939ba1;
  line-height: 1.4em;
}
.type h1, #tinymce h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17.27pt;
  font-weight: bold;
  color: #056cb6;
  padding-bottom: 8px;
  margin-bottom: 0px;
  line-height: 1em;
}
.type h2, #tinymce h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14.190000000000001pt;
  padding-bottom: 8px;
  margin-bottom: 0px;
  line-height: 1.2em;
}
.type h3, #tinymce h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14.190000000000001pt;
  padding-bottom: 8px;
  margin-bottom: 0px;
}
.type h4, #tinymce h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 0px;
  text-indent: 15px;
  line-height: 1.2em;
}
.type h5, #tinymce h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 8px;
  margin-bottom: 0px;
  font-weight: bold;
  text-indent: 30px;
  line-height: 1.2em;
}
.type h6, #tinymce h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 8px;
  margin-bottom: 0px;
  text-indent: 45px;
  line-height: 1.2em;
}
.type blockquote,
#tinymce blockquote,
.type .type .blockquote,
#tinymce .type .blockquote {
  padding-top: 16px;
  padding-bottom: 26px;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  color: #056cb6;
  margin: 10px 0 20px 0;
  font-family: "Georgia", Times New Roman, Times, serif;
  font-style: italic;
  font-size: 17.27pt;
  line-height: 1.1em;
}
.type blockquote .attribution,
#tinymce blockquote .attribution,
.type .type .blockquote .attribution,
#tinymce .type .blockquote .attribution {
  clear: both;
  display: block;
  font-family: "Georgia", Times New Roman, Times, serif;
  text-transform: uppercase;
  font-size: 6.6pt;
  letter-spacing: 0.35em;
  font-style: normal;
  padding-top: 14px;
  line-height: 1.4em;
}
.type ul, #tinymce ul {
  list-style-type: disc;
}
.type ul ul, #tinymce ul ul {
  list-style-type: circle;
}
.type ul ul ul, #tinymce ul ul ul {
  list-style-type: none;
}
.type ul ul ul li, #tinymce ul ul ul li {
  list-style-type: none;
}
.type ul ul ul li:before, #tinymce ul ul ul li:before {
  content: "- ";
}
.type ol, #tinymce ol {
  list-style-type: decimal;
}
.type ol ol, #tinymce ol ol {
  list-style-type: upper-alpha;
}
.type ol ol ol, #tinymce ol ol ol {
  list-style-type: decimal;
}
.type ol ol ol ol, #tinymce ol ol ol ol {
  list-style-type: lower-alpha;
}
.type table, #tinymce table {
  width: 100%;
  padding: 0;
  font-size: 11pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
  border-collapse: separate;
  border-spacing: 0;
  /*tbody tr:nth-child(1) td,
		tbody tr.even td {
			padding-top: 9px;
			font-weight:bold;
			vertical-align:middle;
			background-color: @byui_med_blue;
			color: #fff;
		}*/

}
.type table th,
#tinymce table th,
.type table td,
#tinymce table td {
  padding: 0.7em;
  line-height: 1em;
  text-align: left;
  font-size: 9pt;
}
.type table td, #tinymce table td {
  border: none;
  border-left: 1px solid #ddd;
  color: #939ba1;
}
.type table td:nth-of-type(1), #tinymce table td:nth-of-type(1) {
  border-left: none;
}
.type table th, #tinymce table th {
  /*padding-top: 9px;*/

  font-weight: bold;
  vertical-align: middle;
  background-color: #056cb6;
  color: #fff;
}
.type table tbody tr:nth-child(even) td,
#tinymce table tbody tr:nth-child(even) td,
.type table tbody tr.even td,
#tinymce table tbody tr.even td {
  background: none repeat scroll 0 0 #F9F9F9;
}
.type table tbody tr:nth-child(odd) td,
#tinymce table tbody tr:nth-child(odd) td,
.type table tbody tr.odd td,
#tinymce table tbody tr.odd td {
  background: none repeat scroll 0 0 #FFFFFF;
}
.type table tbody tr:hover td, #tinymce table tbody tr:hover td {
  background: none repeat scroll 0 0 #F1F1F1;
}
.type table:nth-child(1) td, #tinymce table:nth-child(1) td {
  /*padding-top: 9px;
		font-weight:bold;
		vertical-align:middle;
		background-color: @byui_med_blue;
		color: #fff;*/

}
.ie7 .type table td, .ie8 .type table td {
  border-bottom: 1px solid #DDD;
}
.ie7 .type table tr:nth-last-of-type(1) td, .ie8 .type table tr:nth-last-of-type(1) td {
  border-bottom: none;
}
/*cross-browser patch for lack of text-shadow in ie browsers*/
.ie7 #GeneralAudiencePage #left_aside #login span a:hover, .ie8 #GeneralAudiencePage #left_aside #login span a:hover, .ie9 #GeneralAudiencePage #left_aside #login span a:hover {
  text-decoration: underline;
}
#GeneralAudiencePage {
  /************************** BEGIN LEFT ASIDE AREA *************************/

  /************************** END LEFT ASIDE AREA **************************/

  /************************** BEGIN MAIN CONTENT AREA **********************/

  /************************** END MAIN CONTENT AREA ************************/

}
#GeneralAudiencePage header {
  margin-bottom: 10px;
}
#GeneralAudiencePage #left_aside #login {
  position: relative;
  /* .box_gradient_4stop(#3d3d3d, #444444, #494949, #4a4a4a); */

  background-color: #2e2e2e;
  background: -webkit-linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -moz-linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* FF3.6+ */

  background: -ms-linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* IE10+ */

  background: -o-linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* Opera 11.10+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(25%, #404040), color-stop(75%, #2e2e2e), color-stop(100%, #2e2e2e));
  /* Chrome,Safari4+ */

  background: linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* W3C */

  padding: 11px 0 10px 1.3em;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 10px;
  overflow: hidden;
}
#GeneralAudiencePage #left_aside #login > span {
  margin-right: 5px;
}
#GeneralAudiencePage #left_aside #login > span a:hover {
  text-shadow: 0 0 7px #9aa600;
}
#GeneralAudiencePage #left_aside #login a {
  color: #ffffff;
}
#GeneralAudiencePage #left_aside #login #login_title {
  position: relative;
  top: 0px;
  left: -17px;
  color: #3d3d3d;
  padding: 13px 11px 13px 13px;
  background-color: #c7d22e;
  background: -webkit-linear-gradient(top, #d6da6b 0%, #c7d22e 25%, #b1c001 75%, #9aa600 100%);
  /* Chrome10+,Safari5.1+ */

  background: -moz-linear-gradient(top, #d6da6b 0%, #c7d22e 25%, #b1c001 75%, #9aa600 100%);
  /* FF3.6+ */

  background: -ms-linear-gradient(top, #d6da6b 0%, #c7d22e 25%, #b1c001 75%, #9aa600 100%);
  /* IE10+ */

  background: -o-linear-gradient(top, #d6da6b 0%, #c7d22e 25%, #b1c001 75%, #9aa600 100%);
  /* Opera 11.10+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6da6b), color-stop(25%, #c7d22e), color-stop(75%, #b1c001), color-stop(100%, #9aa600));
  /* Chrome,Safari4+ */

  background: linear-gradient(top, #d6da6b 0%, #c7d22e 25%, #b1c001 75%, #9aa600 100%);
  /* W3C */

  text-shadow: 1px 1px 1px #e5e5ee;
  font-weight: bold;
  border-right: 1px solid #ccc;
}
#GeneralAudiencePage #left_aside #login .arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}
#GeneralAudiencePage #left_aside #login .smaller {
  font-size: 9px;
  position: relative;
  top: -1px;
}
#GeneralAudiencePage #left_aside .link_box {
  margin-bottom: 10px;
}
#GeneralAudiencePage #left_aside .link_box .box_header_blue {
  background: #326BA9;
}
#GeneralAudiencePage #left_aside .link_box .box_header_black {
  background: #404040;
}
#GeneralAudiencePage #left_aside .link_box .box_header {
  padding: 12px 1.3em;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}
#GeneralAudiencePage #left_aside .link_box .box_header .link_expansion_arrow {
  background-image: url('../images/interface/moreDoubleHover.png');
  width: 54px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 4px 8px;
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0.4;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#GeneralAudiencePage #left_aside .link_box .box_header:hover .link_expansion_arrow {
  opacity: 1.0;
}
#GeneralAudiencePage #left_aside .link_box .link_area {
  background-color: #C8C8C8;
  height: 36px;
  padding: 9px 10px 14px;
}
#GeneralAudiencePage #left_aside .link_box .link_area ul {
  min-width: 100px;
  display: block;
  float: left;
  margin: 0px;
}
#GeneralAudiencePage #left_aside .link_box .link_area ul li {
  font-size: 11px;
  line-height: 20px;
  text-transform: capitalize;
  list-style-image: url('../images/interface/arrow_bullet_gray_5x9.png');
}
#GeneralAudiencePage #left_aside .link_box .link_area ul li a {
  color: #666;
}
#GeneralAudiencePage #left_aside .link_box .link_area ul li a:hover {
  text-decoration: underline;
}
#GeneralAudiencePage #main_content {
  position: relative;
  /****************************** BEGIN FLYOUT COMPONENT ***********************************/

  /****************************** END FLYOUT COMPONENT *************************************/

}
#GeneralAudiencePage #main_content .message_block, #GeneralAudiencePage #main_content .message_block_short {
  width: 308px;
}
#GeneralAudiencePage #main_content .message_block {
  /************************** BEGIN CAMPUS MESSAGING COMPONENT *************************/

  /************************** END CAMPUS MESSAGING COMPONENT ***************************/

  /************************** BEGIN CALENDAR HIGHLIGHTS COMPONENT **********************/

  /************************** END CALENDAR HIGHLIGHTS COMPONENT ************************/

  margin-bottom: 10px;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content {
  overflow: hidden;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content #cycle_gallery {
  height: 254px;
  overflow: hidden;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content #cycle_gallery #cycle_nav {
  top: 2px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 0 0 3px;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content #cycle_gallery #cycle_nav a {
  background: url("../images/interface/cycle/page_bullets_20x10.png") no-repeat;
  background-position: -10px 0px;
  width: 10px;
  height: 10px;
  margin: 3px;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content #cycle_gallery #cycle_nav a.activeSlide {
  background-position: 0px 0px;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content #cycle_gallery #cycle {
  display: block;
  border: none;
  height: 224px;
  width: 100%;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content #cycle_gallery #cycle a {
  display: block;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content #cycle_gallery #cycle a img {
  width: 308px;
}
#GeneralAudiencePage #main_content .message_block#campus_messaging .message_block_content #cycle_gallery #cycle_control {
  top: 95px;
  z-index: 99;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights {
  position: relative;
  width: 305px;
  float: left;
  padding-bottom: 0;
  height: 287px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights a h6:hover {
  cursor: pointer;
  /*color: #FFF !important;*/

  text-decoration: none;
  color: white;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights a h6:hover .hoverLink {
  text-decoration: none !important;
  color: #FFFFFF !important;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights h6 {
  width: 295px;
  height: 20px;
  color: #C5C5C5;
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.15em;
  position: absolute;
  text-transform: uppercase;
  padding: 8px 0 0 10px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .devo_description {
  position: absolute;
  top: 40px;
  left: 12px;
  width: 175px;
  color: #000;
  font-size: 20px;
  font-family: "Georgia", Times New Roman, Times, serif;
  font-style: normal !important;
  z-index: 1;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .devo_speaker, #GeneralAudiencePage #main_content .message_block#calendar_highlights .devo_info {
  position: absolute;
  top: 68px;
  left: 12px;
  width: 175px;
  color: orange;
  font-size: 14px;
  font-style: italic;
  z-index: 1;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .devo_info {
  top: 96px;
  font-size: 12px;
  font-style: normal;
  color: #000;
  width: 127px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights ul.events {
  background: none repeat scroll 0 0 #FFFFFF;
  display: block;
  float: left;
  list-style: none outside none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  height: 92px;
  width: 305px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights ul.events li.active {
  background: #f7edd4;
  background-repeat: no-repeat;
  background-position: 0 -3px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights img {
  position: absolute;
  top: 29px;
  left: 0px;
  height: 271px;
  width: 304px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights img.devo_button {
  height: 11px;
  left: 15px;
  position: absolute;
  /*top:156px;*/

  width: 11px;
  margin-left: -33px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .CalTitle {
  color: #666666;
  font-size: 10px;
  left: 230px;
  position: absolute;
  text-decoration: none;
  top: 9px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .CalTitle:hover {
  text-decoration: underline;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #list_view {
  height: 240px;
  width: 176px;
  float: right;
  clear: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #list_view h3 {
  font-size: 17px;
  padding: 15px 0 0 25px;
  position: relative;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #solo_event {
  margin: 0 0 0px;
  max-height: 277px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #solo_event p {
  font-size: 11px;
  overflow: hidden;
  margin: 0;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .events ul {
  margin-left: 0;
  padding: 0;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .event_content {
  height: 236px;
  margin: 0 0 0px;
  padding: 10px 10px 0px;
  margin-top: 0px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .expandable {
  max-height: 209px;
  min-height: 209px;
  overflow: auto;
  width: 285px;
  padding: 0 10px 0 0;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .read-more, #GeneralAudiencePage #main_content .message_block#calendar_highlights .re-collapse {
  font-size: 9px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights .solo_eventExpand {
  min-height: 226px;
  margin: 0 0 12px;
  overflow: visible;
  padding: 37px 10px 10px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #event_list {
  list-style: none;
  height: 92px;
  overflow: hidden;
  margin-top: -92px;
  border-top: 1px solid #CECECE;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #event_list ul li {
  padding: 4px;
  margin: 0 0 0 1px;
  font-size: 10px;
  text-indent: 15px;
  width: 282px;
  cursor: pointer;
  background-image: url('../images/interface/arrow_li.png');
  background-repeat: no-repeat;
  background-position: 0 -1px;
  list-style-type: none;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #event_list ul li:hover {
  background: url('../images/interface/arrow_li.png') #f7edd4;
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #event_list ul li a {
  color: #000;
  text-decoration: none;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #event_list_scrolling {
  height: 154px;
  overflow: hidden;
  clear: both;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #event_calendar {
  margin-left: 9px;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #event_calendar li {
  margin-left: 10px;
  display: inline;
}
#GeneralAudiencePage #main_content .message_block#calendar_highlights #event_calendar li.active {
  color: #AB3C79;
}
#GeneralAudiencePage #main_content .message_block_short {
  height: 135px;
  margin-bottom: 14px;
  overflow: hidden;
  /************************** BEGIN NEWS COMPONENT *************************************/

  /************************** END NEWS COMPONENT ***************************************/

  /************************** BEGIN EVENTS COMPONENT ***********************************/

  /************************** END EVENTS COMPONENT *************************************/

}
#GeneralAudiencePage #main_content .message_block_short#news .message_block_content {
  background-color: #ffffff;
  -webkit-transition: background-color 0.7s ease-in-out;
  -moz-transition: background-color 0.7s ease-in-out;
  -ms-transition: background-color 0.7s ease-in-out;
  -o-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#GeneralAudiencePage #main_content .message_block_short#news .message_block_content:hover {
  background-color: #f7edd4;
  -webkit-transition: background-color 0.7s ease-in-out;
  -moz-transition: background-color 0.7s ease-in-out;
  -ms-transition: background-color 0.7s ease-in-out;
  -o-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}
#GeneralAudiencePage #main_content .message_block_short#news .message_block_content:hover a {
  text-decoration: underline;
  cursor: pointer;
}
#GeneralAudiencePage #main_content .message_block_short#news img#news_block_img {
  height: 70px;
  width: 70px;
  float: left;
  margin: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #939ba1;
}
#GeneralAudiencePage #main_content .message_block_short#news #news_block_content {
  float: left;
  width: 210px;
  line-height: 15px;
  margin-top: 10px;
  position: relative;
}
#GeneralAudiencePage #main_content .message_block_short#news #news_block_content a#news_title {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #191b1c;
}
#GeneralAudiencePage #main_content .message_block_short#news #news_block_content a#news_read_more {
  display: block;
  background: url('../images/interface/arrow_bullet.png') no-repeat;
  background-position: 0px 0px;
  padding: 0px 0 0px 20px;
  color: #939ba1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  position: absolute;
  top: 58px;
}
#GeneralAudiencePage #main_content .message_block_short#events ul {
  padding: 0px 0 0 0;
  width: 100%;
  height: 95px;
  overflow: auto;
}
#GeneralAudiencePage #main_content .message_block_short#events ul li {
  display: block;
  width: 252px;
  background: url('../images/interface/arrow_bullet.png') no-repeat;
  background-color: #ffffff;
  -webkit-transition: background-color 0.7s ease-in-out;
  -moz-transition: background-color 0.7s ease-in-out;
  -ms-transition: background-color 0.7s ease-in-out;
  -o-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-position: 16px 7px;
  padding: 6px 0px 6px 38px;
  margin: 0px 0px 0px 0px;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#GeneralAudiencePage #main_content .message_block_short#events ul li:hover {
  background-color: #f7edd4;
  -webkit-transition: background-color 0.7s ease-in-out;
  -moz-transition: background-color 0.7s ease-in-out;
  -ms-transition: background-color 0.7s ease-in-out;
  -o-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}
#GeneralAudiencePage #main_content .message_block_short#events ul li span.event_date {
  text-transform: uppercase;
  margin: 0 12px 0 5px;
}
#GeneralAudiencePage #main_content .message_block_short#events ul li a {
  color: #000000;
}
#GeneralAudiencePage #main_content .flyout {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  background-color: #F0F0F0;
  width: 630px;
  height: 625px;
}
#GeneralAudiencePage #main_content .flyout .title {
  width: 614px;
  padding: 11px 0 10px 1.3em;
  float: left;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0px;
  clear: both;
  margin-top: 0px;
  letter-spacing: 1px;
  background-color: #2e2e2e;
  background: -webkit-linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -moz-linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* FF3.6+ */

  background: -ms-linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* IE10+ */

  background: -o-linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* Opera 11.10+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(25%, #404040), color-stop(75%, #2e2e2e), color-stop(100%, #2e2e2e));
  /* Chrome,Safari4+ */

  background: linear-gradient(top, #2e2e2e 0%, #404040 25%, #2e2e2e 75%, #2e2e2e 100%);
  /* W3C */

}
#GeneralAudiencePage #main_content .flyout .close_links {
  width: 40px;
  height: 30px;
  position: absolute;
  left: 605px;
  top: 7px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  z-index: 901;
  opacity: 0.6;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#GeneralAudiencePage #main_content .flyout .close_links:hover {
  opacity: 1.0;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#GeneralAudiencePage #main_content .flyout h3 {
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 30px;
  color: #396B8F;
}
#GeneralAudiencePage #main_content .flyout .upper div, #GeneralAudiencePage #main_content .flyout .lower div {
  float: left;
  width: 190px;
  padding-top: 10px;
}
#GeneralAudiencePage #main_content .flyout .upper div:nth-child(4), #GeneralAudiencePage #main_content .flyout .lower div:nth-child(4) {
  clear: both;
}
#GeneralAudiencePage #main_content .flyout .upper {
  height: 100%;
  display: block;
  top: 10px;
  position: relative;
}
#GeneralAudiencePage #main_content .flyout ul {
  list-style-image: url('../images/interface/arrow_bullet_gray_5x9.png');
  padding-left: 55px;
  padding-bottom: 10px;
  padding-top: 2px;
}
#GeneralAudiencePage #main_content .flyout ul li {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 20px;
  text-transform: capitalize;
}
#GeneralAudiencePage #main_content .flyout ul li a:hover {
  text-decoration: underline;
}
#GeneralAudiencePage #main_content .flyout #search_intro {
  position: absolute;
  bottom: -7px;
}
#GeneralAudiencePage #main_content .flyout #search_intro a {
  position: absolute;
  color: #ffffff;
  bottom: 24px;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #2f639f 0%, #2c5f98 25%, #265283 75%, #254679 100%);
  /* Chrome10+,Safari5.1+ */

  background: -moz-linear-gradient(top, #2f639f 0%, #2c5f98 25%, #265283 75%, #254679 100%);
  /* FF3.6+ */

  background: -ms-linear-gradient(top, #2f639f 0%, #2c5f98 25%, #265283 75%, #254679 100%);
  /* IE10+ */

  background: -o-linear-gradient(top, #2f639f 0%, #2c5f98 25%, #265283 75%, #254679 100%);
  /* Opera 11.10+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f639f), color-stop(25%, #2c5f98), color-stop(75%, #265283), color-stop(100%, #254679));
  /* Chrome,Safari4+ */

  background: linear-gradient(top, #2f639f 0%, #2c5f98 25%, #265283 75%, #254679 100%);
  /* W3C */

}
#GeneralAudiencePage #main_content .flyout #search_intro a:hover {
  background: -webkit-linear-gradient(top, #0c1c2c 0%, #152d49 25%, #234874 75%, #285386 100%);
  /* Chrome10+,Safari5.1+ */

  background: -moz-linear-gradient(top, #0c1c2c 0%, #152d49 25%, #234874 75%, #285386 100%);
  /* FF3.6+ */

  background: -ms-linear-gradient(top, #0c1c2c 0%, #152d49 25%, #234874 75%, #285386 100%);
  /* IE10+ */

  background: -o-linear-gradient(top, #0c1c2c 0%, #152d49 25%, #234874 75%, #285386 100%);
  /* Opera 11.10+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c1c2c), color-stop(25%, #152d49), color-stop(75%, #234874), color-stop(100%, #285386));
  /* Chrome,Safari4+ */

  background: linear-gradient(top, #0c1c2c 0%, #152d49 25%, #234874 75%, #285386 100%);
  /* W3C */

}
#GeneralAudiencePage #main_content .flyout #search_intro a.search_box {
  left: 220px;
}
#GeneralAudiencePage #main_content .flyout #search_intro a.site_index {
  left: 430px;
}
/************************** BEGIN CROSS-BROWSER ADAPTATIONS ******************/
.ie7 #GeneralAudiencePage #main_content .flyout .close_links {
  left: 600px;
  top: -35px;
  position: relative;
}
.ie7 #GeneralAudiencePage #main_content .message_block .event_content {
  max-height: 232px;
}
/************************** BEGIN CROSS-BROWSER ADAPTATIONS ******************/
/*AUDIENCE STYLE END*/