#search_box {
  z-index: 9100;
}
.top_header,
#top_header {
  overflow: visible !important;
}
#main_nav {
  position: relative;
}
#main_nav .mega {
  display: none;
  position: absolute;
  width: 950px;
  box-shadow: 0 20px 20px #000;
  left: 0;
  z-index: 9000;
  background-color: #252525;
}
#main_nav .mega li {
  border-right: none;
  float: none;
}
#main_nav ul > li:hover .mega {
  display: block;
}
#main_nav .mega_column {
  padding: 20px;
  width: 275px;
  float: left;
}
#main_nav .mega_column.first {
  border-right: 1px dotted #333;
}
#main_nav .mega_column img {
  max-width: 100%;
}
#main_nav .mega_column li {
  list-style-type: none;
  padding: .8em;
}
#main_nav .mega_column li:hover {
  background-color: #3f3f3f;
}
#main_nav .mega_column li:hover a {
  color: #ffffff;
}
#headerTabs {
  background-color: #316baa;
  position: relative;
}
#headerTabs .mega {
  display: none;
  position: absolute;
  width: 950px;
  box-shadow: 0 20px 20px #000;
  left: 0;
  z-index: 900;
  background: #ffffff;
  border-radius: 0 0 10px 10px;
}
#headerTabs .mega .mega_column {
  padding: 20px;
  width: 275px;
  float: left;
}
#headerTabs .mega .mega_column.first {
  border-right: 1px dotted #333;
}
#headerTabs .mega .mega_column img {
  max-width: 100%;
}
#headerTabs .mega .mega_column li {
  list-style-type: none;
  padding: .8em;
}
#headerTabs .mega .mega_column li:hover {
  background-color: #4584c9;
}
#headerTabs .mega .mega_column li:hover a {
  color: #ffffff;
}
#headerTabs > ul > li {
  list-style-type: none;
  display: inline-block;
}
#headerTabs > ul > li > a {
  display: block;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: .8em;
  padding: 1em;
  border-radius: 10px 10px 0 0;
}
#headerTabs > ul > li > a:hover {
  background-color: #ffffff;
  color: #316baa;
}
#headerTabs > ul > li:hover .mega {
  display: block;
}
