/***** HORIZONTAL SCROLLING EVENTS BAR *****/
#events_bar_horizontal {
  padding-bottom: 5px;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 10px;
  overflow: auto;
  *width: 710px;
}
#events_bar_horizontal .events_header {
	display: block;
	height: 28px;
}
#events_bar_horizontal h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 7px 10px 9px;
  letter-spacing: 1.20px;
}
#events_bar_horizontal a {
  color: #A53C12;
  font-size: 10px;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0.9px;
  float: left;
}
#events_bar_horizontal #cal_help {
  float: right;
}
#events_bar_horizontal #cal_help img {
  position: relative;
  top: 4px;
  padding-left: 5px;
}
#events_bar_horizontal #window {
  height: 60px;
  /**width: 708px;*/
  float: left;
  position: relative;
  border: solid 1px #CCC;
  overflow: hidden;
  background: ##F5F5F5;
  background: -moz-linear-gradient(top, #e1e1e1 0%, #f5f5f5 20%, #f5f5f5 80%, #e1e1e1 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e1e1), color-stop(20%, #f5f5f5), color-stop(80%, #f5f5f5), color-stop(100%, #e1e1e1));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e1e1e1 0%, #f5f5f5 20%, #f5f5f5 80%, #e1e1e1 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e1e1e1 0%, #f5f5f5 20%, #f5f5f5 80%, #e1e1e1 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e1e1e1 0%, #f5f5f5 20%, #f5f5f5 80%, #e1e1e1 100%);
  /* IE10+ */

  background: linear-gradient(top, #e1e1e1 0%, #f5f5f5 20%, #f5f5f5 80%, #e1e1e1 100%);
  /* W3C */

}
#events_bar_horizontal #pane {
  position: relative;
}
#events_bar_horizontal #events_bar_control {
  width: 39px;
  float: right;
  border-left: 1px solid #CCC;
}
#events_bar_horizontal #events_bar_control .prev {
  background: url(../images/interface/up-down_arrows_36x20.png) no-repeat;
  background-position: -1px 2px;
}
#events_bar_horizontal #events_bar_control .prev:hover {
  background-position: -41px 2px;
}
#events_bar_horizontal #events_bar_control .next {
  background: url(../images/interface/up-down_arrows_36x20.png) no-repeat;
  background-position: -1px -32px;
}
#events_bar_horizontal #events_bar_control .next:hover {
  background-position: -41px -32px;
}
#events_bar_horizontal #events_bar_control .next, #events_bar_horizontal .prev {
  width: 38px;
  height: 30px;
  float: left;
  cursor: pointer;
}
#events_bar_horizontal .single_event {
  width: 220px;
  height: 50px;
  float: left;
  padding: 5px 0;
  border-left: 1px dotted #CCC;
  overflow: hidden;
}
#events_bar_horizontal .single_event .event_link {
  color: #333;
}
#events_bar_horizontal .single_event .event_link .event_date {
  float: left;
  width: 40px;
  border-right: 3px solid #CCC;
  margin: 5px 0;
  line-height: 18px;
  text-align: center;
}
#events_bar_horizontal .single_event .event_link .event_date .cal_day {
  font-size: 18px;
  font-weight: bold;
}
#events_bar_horizontal .single_event .event_link .event_date .cal_month {
  text-transform: uppercase;
  font-size: 13px;
}
#events_bar_horizontal .single_event .event_link .event_info {
  height: 100%;
  float: left;
  padding: 4px 8px 0;
  overflow: hidden;
  line-height: 13px;
}
#events_bar_horizontal .single_event .event_link:hover {
  background-color: #FFF;
}
#events_bar_horizontal .single_event h4 {
  margin: 3px 5px 2px 50px;
  font-size: 12px;
}
#events_bar_horizontal .single_event p {
  font-size: 9px;
  color: #A3A3A3;
  margin: 0 5px 0 50px;
}
#events_bar_horizontal a.to_cal_link {
  float: right;
  background: url(../images/interface/arrow_bullet_gray_5x9.png) no-repeat;
  background-position: 10px 10px;
  padding: 7px 0 1px 20px;
  color: #767676;
  font-size: 10px;
}
/***** END OF HORIZONTAL SCROLLING EVENTS BAR *****/