<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Brigham Young University - Idaho</title>
	<meta name="description" content="Brigham Young University - Idaho">
    <meta name="author" content="Brigham Young University - Idaho">

	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!-- favicon section for all device types -->
	<!-- For iPhone 4 with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png">
	<!-- For first-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png">
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
	<link rel="icon" href="/images/favicon.ico" />
    
    <!-- Blueprint and Regressive/Progressive Adaptive scripts for older/cross-browser compliance -->
	<link rel="stylesheet" href="/css/print.css" type="text/css" media="print"> 
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection">
	<![endif]-->

	<!-- Responsive Rollouts -->
	<link rel="stylesheet" href="/css/global.css" type="text/css" media="screen, projection">

	<!-- Global Stylesheet -->
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection">



	<!-- Modernizr script, for js and feature detection -->
	<script src="/js/libs/modernizr-2.0.6.min.js"></script>
	
	<!-- jQuery -->
	<script id="jQueryLoad" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/libs/bootstrap.min.js"></script>
	
</head>

<body id="article"><!-- Body tag must have page template name in it to inherit template-specific css rules -->
<header role="banner" class="global-header">
  <nav role="navigation" class="site-navigation navbar navbar-inverse">
      <div class="container">
        <div class="">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#administrative" class="administrative dropdown-toggle" data-toggle="dropdown">
                  <span aria-hidden="true" class="icon icon-library">&#x20;&#x20;</span>
                  University <b class="caret"></b>
                </a>
              <ul class="dropdown-menu">
                <li><a href="http://www.byui.edu/about/">About BYUI</a></li>
                <li><a href="http://www.byui.edu/contact-us/">Contact</a></li>
                <li><a href="http://www.byui.edu/student-support/ask-byui">Information Desk</a></li>
                <li class="divider"></li>
                <li><a href="http://www.byui.edu/admissions">Apply</a></li>
                <li><a href="http://www.byui.edu/financial-aid/">Financial Aid</a></li>
                <li><a href="http://www.byui.edu/student-records/">Registration</a></li>
                <li><a href="http://www.byui.edu/university-relations">University Relations</a></li>
                <li><a href="http://www.byui.edu/president">President's Office</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#academic" class="dropdown-toggle" data-toggle="dropdown">
                <span aria-hidden="true" class="icon icon-books">&#x20;&#x20;</span>
                Academics <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://www.byui.edu/about/defining-aspects/learning-model">Learning Model</a></li>
                <li><a href="http://www.byui.edu/student-records/academic-deadlines">Academic Schedule</a></li>
                <li class="divider"></li>
                <li><a href="http://www.byui.edu/academic-discovery-center">Advising</a></li>
                <li><a href="http://www.byui.edu/directories/colleges-and-departments">Colleges and Departments</a></li>
                <li><a href="http://www.byui.edu/catalog/">Course Catalog</a></li>
                <li><a href="http://www.byui.edu/international-services">International Services</a></li>
                <li><a href="http://www.byui.edu/testing-services">Testing Center</a></li>
                <li><a href="http://www.byui.edu/academic-support-centers/tutoring-center">Tutoring</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#student-life" class="dropdown-toggle" data-toggle="dropdown">
                <span aria-hidden="true" class="icon icon-food">&#x20;&#x20;</span>
                Living <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://www.byui.edu/activities">Activities</a></li>
                <li><a href="http://www.byui.edu/student-honor-office">Honor Code</a></li>
                <li><a href="http://www.byui.edu/activities/get-involved">Get Involved</a></li>
                <li class="divider"></li>
                <li><a href="http://www.byui.edu/food-services/">Food</a></li>
                <li><a href="http://www.byui.edu/health-center">Health and Wellness</a></li>
                <li><a href="http://www.byui.edu/housing/">Housing</a></li>
                <li><a href="http://www.byui.edu/human-resources/employment-opportunities/student-employment">Student Employment</a></li>
                </ul>
            </li>
            <li class="dropdown">
              <a href="#services" class="dropdown-toggle" data-toggle="dropdown">
                <span aria-hidden="true" class="icon icon-bell">&#x20;&#x20;</span>
                Services <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://www.byui.edu/ask/live-chat/?cid=hli:109">Ask BYUI</a></li>
                <li><a href="http://www.byui.edu/information-technology">Technical Help</a></li>
                <li class="divider"></li>
                <li><a href="http://www.byui.edu/disabilities/">Disability Services</a></li>
                <li><a href="http://www.lib.byui.edu/">Library</a></li>
                <li><a href="http://www.byui.edu/university-operations/security-and-safety/parking-services">Parking</a></li>
                <li><a href="http://www.byui.edu/university-operations/security-and-safety">Security</a></li>
                <li><a href="http://www.byuistore.com/">University Store</a></li>
                <li><a href="https://www.byui.edu/financial-services/purchasing/enterprise-carshare">Car Rental</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#find" class="dropdown-toggle" data-toggle="dropdown">
                <span aria-hidden="true" class="icon icon-cursor">&#x20;&#x20;</span>
                Find <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://www.byui.edu/directories/">A-Z Directory</a></li>
                <li><a href="https://web.byui.edu/BulletinBoard">Bulletin Board</a></li>
                <li><a href="http://calendar.byui.edu/">Calendar</a></li>
                <li><a href="http://www.byui.edu/maps">Map</a></li>
              </ul>
            </li>
          </ul>
          <div class="navbar-right">
            <a href="#" data-toggle="dropdown" class="sign-in btn btn-primary navbar-btn">Sign In</a>
          </div>
          <form method="get" action="http://search.byui.edu/search?" _lpchecked="1" role="search" class="desktop-search form-horizontal hidden-xl hidden-lg hidden-ml col-sm-4 row">
          <div class="search input-group">
            <input type="text" class="form-control" name="q" placeholder="Search" alt="Search the BYU-I website" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success">
                <span aria-hidden="true" class="icon icon-magnifying-glass"></span>
                <span class="sr-only">Go</span>
              </button>
            </span>
            <input type="hidden" name="site" value="default_collection"/>
            <input type="hidden" name="client" value="byui_frontend"/>
            <input type="hidden" name="output" value="xml_no_dtd"/>
            <input type="hidden" name="proxystylesheet" value="byui_frontend"/>
            <input type="hidden" name="proxyreload" value="0"/>
          </div>
        </form>
        </div><!--/.navbar-collapse -->
      </div>
      
    </nav>

    <div class="jumbotron homepage-jumbotron">
      <div class="container">
        <a class="site-logo navbar-brand" href="/" title="BYU-Idaho">
            <span aria-hidden="true" class="icon icon-byui-logo">
              <span class="sr-only">BYU-Idaho</span>
            </span>
          </a>
       <!--  <h1 class="page-title col-sm-8 row">Brigham Young University - Idaho</h1> -->
        <form method="get" action="http://search.byui.edu/search?" _lpchecked="1" role="search" class="desktop-search form-horizontal hidden-xs hidden-sm hidden-md col-sm-4 row">
          <div class="search input-group">
            <input type="text" class="form-control" name="q" placeholder="Search" alt="Search the BYU-I website" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success">
                <span aria-hidden="true" class="icon icon-magnifying-glass"></span>
                <span class="sr-only">Go</span>
              </button>
            </span>
            <input type="hidden" name="site" value="default_collection"/>
            <input type="hidden" name="client" value="byui_frontend"/>
            <input type="hidden" name="output" value="xml_no_dtd"/>
            <input type="hidden" name="proxystylesheet" value="byui_frontend"/>
            <input type="hidden" name="proxyreload" value="0"/>
          </div>
        </form>
      </div>
    </div>
</header>

	<div class="global_outside page_content">	
		<section id="page_content" class="container">

			
<nav id="breadcrumbs" class="span-24">
    <a href="/">BYU-Idaho Home</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities">Activities</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities/resources">Resources</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities/resources/exercise-facilities-and-play-fields">Exercise Facilities and Play Fields</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities/resources/exercise-facilities-and-play-fields/hart-building">Hart Building</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="activities/resources/exercise-facilities-and-play-fields/hart-building/swim-suit-policy">Swim Suit Policy</a>
</nav>
<nav id="local_nav" class="span-6">
	<h2 class="box_header"><a href="newsroom">Newsroom</a></h2>
	<div class="imageList">
		<img alt="" title="" src="http://beta.byui.edu/images/Internal_Use/newsroom/Cook%20photo.jpg" />
		<p>Elder Quentin L. Cook</p>
		<img alt="" title="" src="http://beta.byui.edu/Images/Admin_Offices/Student%20Record%20and%20Registration/GradPhoto/GradBanner3497x200.jpg" />
		<img alt="" title="" src="http://beta.byui.edu/Images/Admin_Offices/Student%20Record%20and%20Registration/GradPhoto/AlumniAssc.png" />
		<p>Congratulations Online Graduates!</p>
		
	</div>
</nav>


<section id="content_region">
           <section id="top_content" class="span-18 last">
		<!-- PAGE TITLE -->
			<div id="page_title">
				<h2>Elder Quentin L. Cook</h2>
      			<h4 class="sub_title">to speak at Fall Commencement</h4>
			</div>
        </section>

        <section id="main_content" class="span-12 type">
			<div class="article_content">
				<span id="article_date">December 07, 2011</span>
				<span id="article_author"><em>Writer: Andy Cargal</em></span>

				<!-- BODY-COPY AREA -->	
				<p>Elder Quentin L. Cook, a member of the Quorum of the Twelve Apostles for The Church of Jesus Christ of Latter-day Saints, will address 1,533 graduates (a 5.36 percent increase over last fall) at Brigham Young University-Idaho's Fall Commencement on Dec. 16. The event will be held at 5:45 p.m. in the BYU-Idaho Center. </p>
				<p>Elder Quentin L. Cook was sustained as a member of the Quorum of the Twelve Apostles on Oct. 6, 2007, and had previously served as a General Authority since April 1996. Elder Cook has worked professionally as vice chairman of Sutter Health System, CEO of a California healthcare system, a business lawyer, and managing partner of a San Francisco Bay Area law firm. He has also been a board member of several for-profit and not-for-profit corporations.</p>
				<p>Elder Cook is a native of Logan, Utah, received a bachelor's degree in political science from Utah State University, and a doctor of jurisprudence from Stanford University.</p>
				<p>For more information about commencement, visit www.byui.edu/graduation. </p>
          		<!-- END OF BODY-COPY AREA -->
          		
          		<p>
					<a href="x32132.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Graduation Fall 2011</a>
					<br>
					<a href="http://saas.byu.edu/registrar/graduation/">Commencment</a>
					<br>
					<a href="x9276.xml?Preview=true&amp;Site=&amp;IncludeAllPages=false&amp;tfrm=1">Graduates</a>
				</p>
				<div id="facebook_like">
					<iframe src="http://www.facebook.com/plugins/like.php?href=http://beta.byui.edu/newsroom/10-20-11-online-degrees&amp;layout=standard&amp;show_faces=true&amp;width=200&amp;action=like&amp;font&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:24px; margin-top:10px" allowTransparency="true"></iframe>
				</div>
			</div>			
        </section><!-- IF NO CONTENT IN RIGHT ASIDE, SPAN-18 LAST -->

        <aside id="right_aside" class="span-6 last">
            <div class="page_highlight">
				<h4>STORY HIGHLIGHTS</h4>
				<p class="abstract">BYU-Idaho will soon offer eight more of its academic degrees online. Students can begin enrolling in most online degree programs as soon as Winter 2012.</p>
			</div>
			<div id="social_media">
				<span class="share">Share</span>
				<div class="right addthis_toolbox addthis_default_style last">
					<a class="right addthis_counter addthis_bubble_style"></a>
					<a class="right addthis_button_compact"></a>
					<a class="right addthis_button_preferred_6"></a>
					<a class="right addthis_button_preferred_5"></a>
					<a class="right addthis_button_preferred_4"></a>
					<a class="right addthis_button_preferred_3"></a>
					<a class="right addthis_button_preferred_2"></a>
					<a class="right addthis_button_preferred_1"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ea5df5476bcd098"></script>
				<!-- AddThis Button END -->
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ea5de5e28180583"></script>
				<!-- AddThis Button END -->
			</div>
			<div class="page_highlight">
				<h4>RECENT NEWS</h4>
				<ul>
					<li><span class="date">November 08</span>
						<a href="newsroom/11-08-11-concert">Broadway’s Brian Stokes Mitchell featured at Christmas concert</a></li>
					<li><span class="date">November 07</span>
						<a href="newsroom/11-7-11-award">Faculty member receives educational excellence award</a></li>
					<li><span class="date">October 31</span>
						<a href="newsroom/10-31-11-bond-pads">Engineering stronger microchips</a></li>
					<li><span class="date">October 28</span>
						<a href="newsroom/10-28-11-civil-engineering">Civil engineering degree now available</a></li>
					<li><span class="date">October 20</span>
						<a href="newsroom/10-20-11-online-degrees">Eight academic degrees go online</a></li>
					<li><span class="date">October 20</span>
						<a href="newsroom/10-20-11-imani">Grammy-nominated Imani Winds to perform at BYU-Idaho</a></li>
					<li><span class="date">October 13</span>
						<a href="newsroom/10-13-11-soybeans">Idaho’s newest crop</a></li>
					<li><span class="date">October 13</span>
						<a href="newsroom/10-13-11-acrobats">Golden Dragon Acrobats to perform at BYU-Idaho</a></li>
				</ul>
			</div>
		</aside>
		<!-- *****  END CONTENT AREA  ***** -->
        <span class="clearall"></span>
		

</section>

<!-- Page-Specific Scripts -->
<script src="/js/mylibs/accordionNav.js"></script>

	</section><!-- end main_content -->
</div><!-- end global_outside -->


<footer role="contentinfo" class="global-footer">
  
  <div class="footer-graphic jumbotron"></div>

  <div class="footer-audience">
    <div class="container">
      <div class="audience-nav text-center">
        <a href="http://www.byui.edu/future-students/" class="btn btn-primary btn-sm">Future Students</a>
        <a href="https://my.byui.edu/ics" class="btn btn-primary btn-sm">Current Students</a>
        <a href="https://my.byui.edu/ics" class="btn btn-primary btn-sm">Employees</a>
        <a href="http://beta.byui.edu/parents" class="btn btn-primary btn-sm">Parents and Family</a>
        <a href="http://www.byuiconnect.com/s/1085/07-idaho/idaho-start.aspx?gid=4&amp;pgid=61" class="btn btn-primary btn-sm">Alumni</a>
      </div>
      
    </div>
  </div>

  <div class="footer-links">
    <div class="container">
      <div class="row">
        <nav class="footer-column col-sm-6 col-ml-3">
          <div class="footer-column-heading">Contact</div>
          <address class="no-margin">
            <span aria-hidden="true" class="icon icon-office">&#x20;</span>
            525 South Center St.<br/>
            Rexburg, ID, 83460 <br/>

            <span aria-hidden="true" class="icon icon-phone">&#x20;</span>
            <a href="tel:12084961411">(208) 496-1411</a><br/>

            <span aria-hidden="true" class="icon icon-mail">&#x20;&#x20;</span>
            <a href="mailto:ask@byui.edu">ask@byui.edu</a><br/>

            <span aria-hidden="true" class="icon icon-keyboard">&#x20;&#x20;</span>
            <a href="http://www.byui.edu/feedback/?cid=fli:192">Feedback Form</a>
          </address>
        </nav>
        <nav class="footer-column col-sm-6 col-ml-3">
          <div class="footer-column-heading">Popular</div>
          <ul class="no-margin">
            <li><a href="http://web.byui.edu/devotionalsandspeeches/speeches.aspx">Devotionals</a></li>
            <li><a href="http://www.byui.edu/financial-services/my-personal-account/i-card">ID Cards</a></li>
            <li><a href="http://www.byui.edu/human-resources/employment-opportunities">Jobs and Employment</a></li>
            <li><a href="http://www.byui.edu/newsroom">Newsroom</a></li>
            <li><a href="http://byui.universitytickets.com/user_pages/event_listings.aspx">Ticket Office</a></li>
            <li><a href="http://web.byui.edu/WardsAndStakes/UnitInfo">Wards and Stakes</a></li>
          </ul>
        </nav>
        <nav class="footer-column col-sm-6 col-ml-3">
          <div class="footer-column-heading">Help</div>
          <ul class="no-margin">
            <li><a href="http://www.byui.edu/ask/live-chat/?cid=hli:109">Ask BYUI</a></li>
            <li><a href="http://www.byui.edu/disabilities/">Disability Services</a></li>
            <li><a href="http://www.byui.edu/information-technology">Technical Help Desk</a></li>
            <li><a href="http://www.byui.edu/student-support">Student Support</a></li>
          </ul>
        </nav>
        <nav class="footer-column col-sm-6 col-ml-3">
          <div class="footer-column-heading">Follow</div>
          <ul class="footer-social no-margin">
            <li><a href="http://www.byui.edu/social-media/facebook"><img src="/images/facebook-icon.png" alt=""/>Facebook</a></li>
            <li><a href="http://www.byui.edu/social-media/twitter"><img src="/images/twitter-icon.png" alt=""/>Twitter</a></li>
            <li><a href="http://www.byui.edu/social-media/youtube"><img src="/images/youtube-icon.png" alt=""/>Youtube</a></li>
            <li><a href="http://www.byui.edu/social-media/linkedin"><img src="/images/linkedin-icon.png" alt=""/>LinkedIn</a></li>
          </ul>
        </nav>
      </div>

      
    </div>
  </div>

  <div class="footer-brand">
    <div class="container">
      <div class="school-branding row text-center">
        <p>
          <a href="http:///www.byu.edu/">BYU Provo</a>&#x20;&#x20;|&#x20;&#x20;
          <a href="http:///www.byuh.edu/">BYU Hawaii</a>&#x20;&#x20;|&#x20;&#x20;
          <a href="http://www.ldsbc.edu/">LDS Business College</a>&#x20;&#x20;|&#x20;&#x20;
          <a href="http://www.byui.edu/online/pathway">Pathway</a>
        </p>
      </div>

      <div class="copyright row text-center">
        <a href="http://www.byui.edu/copyright/policy/terms-of-use/?cid=fli:190">Copyright ©2013</a>, All Rights Reserved. <a href="http://www.byui.edu/legal">Legal Notices</a>
      </div>

      <div class="church-branding row text-center">
        <p>
          <a href="http://www.lds.org/"><span class="icon icon-lds-church"></span><span class="sr-only">The Church of Jesus Christ of Latter-Day Saints</span></a>
        </p>
      </div>
    </div>
  </div>

</footer><!-- end global-footer -->


</body>
</html>

